<% if type == "owned" && current_user.registered? %>
Zatím nemáš žádný seznam dárků.
<%end %>

<% if type == "owned" && !current_user.registered? %>
Po dokončení <a>registrace</a> si tady můžeš založit svůj vlastní seznam.
<%end %>

<% if type == "invited" %>
Až tě někdo pozve do svého seznamu, uvidíš ho tady.
<%end %>
