<div class="col-md-4 col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title" style="font-weight: bold"><%= link_to list.occasion_name, list_path(list.id) %></h3>
		</div>
		<div class="panel-body">
				<%= list.owner_name %>
		</div>
	</div>
</div>