<div class="row">
	<div class="col-xs-12 text-center">
		<p class="mytitle">
			<span class="glyphicon glyphicon-heart text-danger"></span>
			&nbsp;Chceš vlastní vánoční, nebo narozeninový seznam? Klikni <%= link_to "sem", registration_path %>.
		</p>
	</div>
</div>