<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-1 btn-lg">
			<span class="glyphicon glyphicon-plus-sign text-primary" style="font-size: 16pt; float: left"></span>
		</div>
		<div class="col-md-10 col-lg-8">
			<%= bootstrap_form_for(list, layout: :inline) do |f| %>
			<%= f.text_field :occasion, hide_label: true, class: "input-md", placeholder: "narozeniny" %>
			<%= f.text_field :occasion_of, hide_label: true, class: "input-md", placeholder: "moje" %>
			<%= f.primary "uložit", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>