<div class="col-xs-12" style="margin-bottom: 40px">
	<span class="glyphicon glyphicon-gift text-danger"></span><strong>&nbsp;<%= link_to "Givit.cz", "http://www.gift-list.cz" %></strong> - dárky, které opravdu potěší
</div>