p Ahoj!
p Mrzí nás, že se nemůžeš přihlásit, ale nic se neboj, po kliknutí na odkaz níže si můžeš nastavit heslo nové!
p Odkaz platí 30 minut.
== link_to "RESET HESLA", reset_password_url(:t => @token)

br
br
p Givit.cz
