<div class="row">
	<div class="bs-component" id="invitees" style="margin-bottom: 20px;">
	<%= render partial: 'users/invitee', collection: invitees, as: :invitee, locals: { list: list} %>
	</div>
</div>