<div class="btn-group" style="margin: 5px">
	<div class="dropdown">
		<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= donor.full_name %>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			<li>
				<a href="#">přeposlat pozvánku</a>
			</li>
			<li role="separator" class="divider"></li>
			<li>
				<a href="#"><span class="text-danger">odebrat přístup</span></a>
			</li>
		</ul>
	</div>
</div>

