meta property="og:title" content="Givit.cz - dárky které potěší"
meta property="og:type" content="web.page"
meta property="og:url" content="http://www.givit.cz"
meta property="og:image" content="#{asset_path('givit.png')}"
