<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
  <div class="carousel-inner">
      <%= render partial: 'gift_preview', collection: @gifts, as: :gift, locals: { first: @first } %>
  </div>
</div>
