= bootstrap_form_for(Url.new, :html => {:id => "urlform"}, remote: true) do |f|
  = f.text_field :data, label: 'odkaz na produkt', id: "url", class: "input-sm", placeholder: "vlož odkaz na stránky s produktem"
  = f.hidden_field :gift_id, value: @gift&.id
  = f.hidden_field :list_id, value: @list.id