br
h4 Odkazy
= bootstrap_form_for(Url.new, :html => {:id => "urlform"}, remote: true) do |f|
  = f.text_field :data, hide_label: true, id: "url", class: "input-sm", placeholder: "vlož odkaz na stránky s produktem"
  = f.hidden_field :gift_id, value: Rails.application.routes.recognize_path(request.original_url)[:id]