@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

body {
  margin: 100;
  font-size: 14px;
}

.col-centered{
        float: none;
        margin: 0 auto;
    }
    
@media (max-width: 768px) {
    body{font-size: x-small;}
}

@media (max-width: 992px) {
    body{font-size: small;}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  body{font-size: small;}
}

h3{
    font-size: 1.6em;
}

h4{
    font-size: 1.2em;
}

.loading {
  background-color: #ffffff;
  background-image: url("http://loadinggif.com/images/image-selection/3.gif");
  background-size: 18px 18px;
  background-position: right;
  background-repeat: no-repeat;
}

